.image-container{
  align-items: center;
  margin: fill;
  border: none;

  margin: auto;
}

.image{
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: auto;
  background-color: #000000;

  z-index: 10;
}

.left{
  position:absolute;
  width:5000px;
  height:2000px;
  left:1px;
  z-index:0;
}

.right{
  position:absolute;
  width:5000px;
  height:2000px;
  right:1px;
  z-index:0;
}
